{%extends 'base.html'%}

{%block title_block%}

<title>Todo details</title>

{%endblock%}


{%block main_block%}
  
<div class="container d-flex justify-content-center align-items-center" style="height: 400px;">
       
  <div class="card" style="width: 18rem;">
      <div class="card-header">
      Todo Detail
      </div>
      <ul class="list-group list-group-flush">

        <li class="list-group-item">{{data.title|upper}}</li>
        <li class="list-group-item">{{data.created_date|date}}</li>
        <li class="list-group-item">{{data.user|capfirst}}</li>
        <li class="list-group-item">{{data.status}}</li>

      </ul>
  </div>

</div>


{%endblock%}



